FundsRegulatoryClient/Web References/BaseManagerSrv/BaseManagerSrv.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetNowTime">
        <s:complexType />
      </s:element>
      <s:element name="GetNowTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetNowTimeResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckFormat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="formatString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CheckCont" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckFormatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckFormatResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetNowTimeSoapIn">
    <wsdl:part name="parameters" element="tns:GetNowTime" />
  </wsdl:message>
  <wsdl:message name="GetNowTimeSoapOut">
    <wsdl:part name="parameters" element="tns:GetNowTimeResponse" />
  </wsdl:message>
  <wsdl:message name="CheckFormatSoapIn">
    <wsdl:part name="parameters" element="tns:CheckFormat" />
  </wsdl:message>
  <wsdl:message name="CheckFormatSoapOut">
    <wsdl:part name="parameters" element="tns:CheckFormatResponse" />
  </wsdl:message>
  <wsdl:portType name="BaseManagerSrvSoap">
    <wsdl:operation name="GetNowTime">
      <wsdl:input message="tns:GetNowTimeSoapIn" />
      <wsdl:output message="tns:GetNowTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckFormat">
      <wsdl:input message="tns:CheckFormatSoapIn" />
      <wsdl:output message="tns:CheckFormatSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BaseManagerSrvSoap" type="tns:BaseManagerSrvSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNowTime">
      <soap:operation soapAction="http://tempuri.org/GetNowTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckFormat">
      <soap:operation soapAction="http://tempuri.org/CheckFormat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BaseManagerSrvSoap12" type="tns:BaseManagerSrvSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNowTime">
      <soap12:operation soapAction="http://tempuri.org/GetNowTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckFormat">
      <soap12:operation soapAction="http://tempuri.org/CheckFormat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BaseManagerSrv">
    <wsdl:port name="BaseManagerSrvSoap" binding="tns:BaseManagerSrvSoap">
      <soap:address location="http://localhost/FinancialRegulationSRV/BaseManagerSrv.asmx" />
    </wsdl:port>
    <wsdl:port name="BaseManagerSrvSoap12" binding="tns:BaseManagerSrvSoap12">
      <soap12:address location="http://localhost/FinancialRegulationSRV/BaseManagerSrv.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>