FundsRegulatoryClient/Web References/JG_AmountCollectSrv/JG_AmountCollectService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="o" type="tns:JG_AmountCollectInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="JG_AmountCollectInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AC_ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AC_xybh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AC_cklsh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AC_skfzh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AC_fkfzh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AC_yhmc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AC_ckje" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="AC_cksj" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="AC_fkfye" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="AC_skfye" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="AC_BankCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="o" type="tns:JG_AmountCollectInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="o" type="tns:JG_AmountCollectInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Selects">
        <s:complexType />
      </s:element>
      <s:element name="SelectsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectsResult" type="tns:ArrayOfJG_AmountCollectInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfJG_AmountCollectInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="JG_AmountCollectInfo" nillable="true" type="tns:JG_AmountCollectInfo" />
        </s:sequence>
      </s:complexType>
      <s:element name="Select">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="o" type="tns:JG_AmountCollectInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectResult" type="tns:ArrayOfJG_AmountCollectInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFundCollects">
        <s:complexType />
      </s:element>
      <s:element name="GetFundCollectsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFundCollectsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddSoapIn">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="AddSoapOut">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="SelectsSoapIn">
    <wsdl:part name="parameters" element="tns:Selects" />
  </wsdl:message>
  <wsdl:message name="SelectsSoapOut">
    <wsdl:part name="parameters" element="tns:SelectsResponse" />
  </wsdl:message>
  <wsdl:message name="SelectSoapIn">
    <wsdl:part name="parameters" element="tns:Select" />
  </wsdl:message>
  <wsdl:message name="SelectSoapOut">
    <wsdl:part name="parameters" element="tns:SelectResponse" />
  </wsdl:message>
  <wsdl:message name="GetFundCollectsSoapIn">
    <wsdl:part name="parameters" element="tns:GetFundCollects" />
  </wsdl:message>
  <wsdl:message name="GetFundCollectsSoapOut">
    <wsdl:part name="parameters" element="tns:GetFundCollectsResponse" />
  </wsdl:message>
  <wsdl:portType name="JG_AmountCollectServiceSoap">
    <wsdl:operation name="Add">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">添加资金归集</wsdl:documentation>
      <wsdl:input message="tns:AddSoapIn" />
      <wsdl:output message="tns:AddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">更新资金归集</wsdl:documentation>
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除资金归集</wsdl:documentation>
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Selects">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查看所有资金归集</wsdl:documentation>
      <wsdl:input message="tns:SelectsSoapIn" />
      <wsdl:output message="tns:SelectsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Select">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查看特定资金归集</wsdl:documentation>
      <wsdl:input message="tns:SelectSoapIn" />
      <wsdl:output message="tns:SelectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFundCollects">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取资金归集</wsdl:documentation>
      <wsdl:input message="tns:GetFundCollectsSoapIn" />
      <wsdl:output message="tns:GetFundCollectsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JG_AmountCollectServiceSoap" type="tns:JG_AmountCollectServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Selects">
      <soap:operation soapAction="http://tempuri.org/Selects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select">
      <soap:operation soapAction="http://tempuri.org/Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFundCollects">
      <soap:operation soapAction="http://tempuri.org/GetFundCollects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="JG_AmountCollectServiceSoap12" type="tns:JG_AmountCollectServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tempuri.org/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Selects">
      <soap12:operation soapAction="http://tempuri.org/Selects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select">
      <soap12:operation soapAction="http://tempuri.org/Select" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFundCollects">
      <soap12:operation soapAction="http://tempuri.org/GetFundCollects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JG_AmountCollectService">
    <wsdl:port name="JG_AmountCollectServiceSoap" binding="tns:JG_AmountCollectServiceSoap">
      <soap:address location="http://localhost/FinancialRegulationSRV/JG_AmountCollectService.asmx" />
    </wsdl:port>
    <wsdl:port name="JG_AmountCollectServiceSoap12" binding="tns:JG_AmountCollectServiceSoap12">
      <soap12:address location="http://localhost/FinancialRegulationSRV/JG_AmountCollectService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>