FundsRegulatoryClient/Web References/HelpSrv/HelpService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetNowTime">
        <s:complexType />
      </s:element>
      <s:element name="GetNowTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetNowTimeResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetNowTimeSoapIn">
    <wsdl:part name="parameters" element="tns:GetNowTime" />
  </wsdl:message>
  <wsdl:message name="GetNowTimeSoapOut">
    <wsdl:part name="parameters" element="tns:GetNowTimeResponse" />
  </wsdl:message>
  <wsdl:portType name="HelpServiceSoap">
    <wsdl:operation name="GetNowTime">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取服务器当前时间</wsdl:documentation>
      <wsdl:input message="tns:GetNowTimeSoapIn" />
      <wsdl:output message="tns:GetNowTimeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HelpServiceSoap" type="tns:HelpServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNowTime">
      <soap:operation soapAction="http://tempuri.org/GetNowTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HelpServiceSoap12" type="tns:HelpServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNowTime">
      <soap12:operation soapAction="http://tempuri.org/GetNowTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelpService">
    <wsdl:port name="HelpServiceSoap" binding="tns:HelpServiceSoap">
      <soap:address location="http://localhost/FinancialRegulationSRV/HelpService.asmx" />
    </wsdl:port>
    <wsdl:port name="HelpServiceSoap12" binding="tns:HelpServiceSoap12">
      <soap12:address location="http://localhost/FinancialRegulationSRV/HelpService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>