BaseClient/Web References/BaseManageSrv/BaseManageSrv.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetMenu">
        <s:complexType />
      </s:element>
      <s:element name="GetMenuResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMenuResult" type="tns:ArrayOfMenuItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMenuItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MenuItem" nillable="true" type="tns:MenuItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MenuItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Icon" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Path" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Layer" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Parent" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IsDetail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InvokingConfig" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AssemblyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WindowName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Ordinal" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Children" type="tns:ArrayOfMenuItem" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMenuItems">
        <s:complexType />
      </s:element>
      <s:element name="GetMenuItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMenuItemsResult" type="tns:ArrayOfMenuItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddMenuItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mi" type="tns:MenuItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddMenuItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddMenuItemResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="e" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteMenuItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mi" type="tns:MenuItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteMenuItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteMenuItemResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="e" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModMenuItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mi" type="tns:MenuItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModMenuItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModMenuItemResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="e" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMenuSoapIn">
    <wsdl:part name="parameters" element="tns:GetMenu" />
  </wsdl:message>
  <wsdl:message name="GetMenuSoapOut">
    <wsdl:part name="parameters" element="tns:GetMenuResponse" />
  </wsdl:message>
  <wsdl:message name="GetMenuItemsSoapIn">
    <wsdl:part name="parameters" element="tns:GetMenuItems" />
  </wsdl:message>
  <wsdl:message name="GetMenuItemsSoapOut">
    <wsdl:part name="parameters" element="tns:GetMenuItemsResponse" />
  </wsdl:message>
  <wsdl:message name="AddMenuItemSoapIn">
    <wsdl:part name="parameters" element="tns:AddMenuItem" />
  </wsdl:message>
  <wsdl:message name="AddMenuItemSoapOut">
    <wsdl:part name="parameters" element="tns:AddMenuItemResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteMenuItemSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteMenuItem" />
  </wsdl:message>
  <wsdl:message name="DeleteMenuItemSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteMenuItemResponse" />
  </wsdl:message>
  <wsdl:message name="ModMenuItemSoapIn">
    <wsdl:part name="parameters" element="tns:ModMenuItem" />
  </wsdl:message>
  <wsdl:message name="ModMenuItemSoapOut">
    <wsdl:part name="parameters" element="tns:ModMenuItemResponse" />
  </wsdl:message>
  <wsdl:portType name="BaseManageSrvSoap">
    <wsdl:operation name="GetMenu">
      <wsdl:input message="tns:GetMenuSoapIn" />
      <wsdl:output message="tns:GetMenuSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMenuItems">
      <wsdl:input message="tns:GetMenuItemsSoapIn" />
      <wsdl:output message="tns:GetMenuItemsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddMenuItem">
      <wsdl:input message="tns:AddMenuItemSoapIn" />
      <wsdl:output message="tns:AddMenuItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMenuItem">
      <wsdl:input message="tns:DeleteMenuItemSoapIn" />
      <wsdl:output message="tns:DeleteMenuItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModMenuItem">
      <wsdl:input message="tns:ModMenuItemSoapIn" />
      <wsdl:output message="tns:ModMenuItemSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BaseManageSrvSoap" type="tns:BaseManageSrvSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMenu">
      <soap:operation soapAction="http://tempuri.org/GetMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuItems">
      <soap:operation soapAction="http://tempuri.org/GetMenuItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMenuItem">
      <soap:operation soapAction="http://tempuri.org/AddMenuItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMenuItem">
      <soap:operation soapAction="http://tempuri.org/DeleteMenuItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModMenuItem">
      <soap:operation soapAction="http://tempuri.org/ModMenuItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BaseManageSrvSoap12" type="tns:BaseManageSrvSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMenu">
      <soap12:operation soapAction="http://tempuri.org/GetMenu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuItems">
      <soap12:operation soapAction="http://tempuri.org/GetMenuItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMenuItem">
      <soap12:operation soapAction="http://tempuri.org/AddMenuItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMenuItem">
      <soap12:operation soapAction="http://tempuri.org/DeleteMenuItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModMenuItem">
      <soap12:operation soapAction="http://tempuri.org/ModMenuItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BaseManageSrv">
    <wsdl:port name="BaseManageSrvSoap" binding="tns:BaseManageSrvSoap">
      <soap:address location="http://localhost/FinancialRegulationSRV/BaseManageSrv.asmx" />
    </wsdl:port>
    <wsdl:port name="BaseManageSrvSoap12" binding="tns:BaseManageSrvSoap12">
      <soap12:address location="http://localhost/FinancialRegulationSRV/BaseManageSrv.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>