FinancialRegulationSRV/Web References/BillMoveSrv/BillMoveSrv.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Bill2Server">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Bill2ServerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Bill2ServerResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Bill2ServerSoapIn">
    <wsdl:part name="parameters" element="tns:Bill2Server" />
  </wsdl:message>
  <wsdl:message name="Bill2ServerSoapOut">
    <wsdl:part name="parameters" element="tns:Bill2ServerResponse" />
  </wsdl:message>
  <wsdl:portType name="BillMoveSrvSoap">
    <wsdl:operation name="Bill2Server">
      <wsdl:input message="tns:Bill2ServerSoapIn" />
      <wsdl:output message="tns:Bill2ServerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BillMoveSrvSoap" type="tns:BillMoveSrvSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Bill2Server">
      <soap:operation soapAction="http://tempuri.org/Bill2Server" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BillMoveSrvSoap12" type="tns:BillMoveSrvSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Bill2Server">
      <soap12:operation soapAction="http://tempuri.org/Bill2Server" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BillMoveSrv">
    <wsdl:port name="BillMoveSrvSoap" binding="tns:BillMoveSrvSoap">
      <soap:address location="http://192.168.134.245/BillOperateSrv/BillMoveSrv.asmx" />
    </wsdl:port>
    <wsdl:port name="BillMoveSrvSoap12" binding="tns:BillMoveSrvSoap12">
      <soap12:address location="http://192.168.134.245/BillOperateSrv/BillMoveSrv.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>